@charset "UTF-8";

@font-face{
	font-family:'NotoSansBold'; 
	src:url('../fonts/NOTOSANSCJKKR-BOLD.OTF')
} 

@font-face{
	font-family:'NotoSansLight'; 
	src:url('../fonts/NOTOSANSCJKKR-LIGHT.OTF')
} 

	body, table, div, p {
		font-family:'NotoSansBold'
	}

	* {
		margin: 0;
		padding-top: 0;
	}
	
	html {
		background-color: #ffffff;
	}
	
	hr{	
		color : #fff043;
		border-color : #b4b4b4;
		border: 0.5px solid #b4b4b4;
		margin-top: 20px;
	}
	
	.button{
		background-color: #fff043; 
	    border: none;
	    color: black;
	    width: 60px;
	    height: 24px;
	    text-align: center;
	    display: inline-block;
	    font-size: 16px;
	    cursor: pointer;
	    border-radius: 14px;
	}
	
	#header {
		position: fixed;
		background-color: #fff043;
		height: 60px;
		width: 100%;
		top: 0;
		left: 0;
	}
	
	#main {
		margin-left: 60px;
		padding-top: 60px;
		float: left;
		width: 80%;
	}
	
	#sidebar {
		margin-top: 60px;
		position: fixed;
		right: 10px;
		width: 20%;
		height: 100%;
		background-color: #ffffff;
	}
	
	#logo {
		margin-top: 15px;
		margin-left: 30px;
		height: 30px;
	}
	
	#login {
		float: right; margin-right : 30px;
		margin-top: 15px;
		height: 30px;
		margin-right: 30px;
	}
	
	
	#user {
		text-align: left;
		margin-top: 20px;
		margin-left: 10px;
		margin-bottom: 30px;
	}
	
	#profileImg {
		margin-right: 20px;
		float: right;
		width: 50px;
		height: auto;
		border-radius: 100%;
	}
	
	#frm{
		margin-left: 10px;
	}

	#place {
		text-align: left;
		margin-top: 20px;
		margin-left: 10px;
		color: #969696;
	}
	
	#placesquare{
		width: 280px;
		margin-top: 10px;
		margin-left: 10px;
		height: 120px;
		background-color: #969696;
	}
	
	#date {
		text-align: left;
		margin-top: 20px;
		margin-left: 10px;
		color: #969696;
	}
	
	#price {
		text-align: left;
		margin-top: 20px;
		margin-left: 10px;
		color: #969696;
	}
	
	#tag {
		text-align: left;
		margin-top: 20px;
		margin-left: 10px;
		color: #969696;
	}
	
	#hitandlike {
		text-align: left;
		margin-top: 20px;
		margin-left: 10px;
		color: #969696;
		font-size: 12px;
	}
	
